.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 24px;
  border-bottom: 1px solid var(--badges);
  background: var(--inputs);
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  list-style-type: none;
}
.navigationItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--main);
  transition:
    color 0.2s ease,
    transform 0.2s ease;
}
.navigationItem:hover,
.navigationItem:focus {
  color: var(--button-hover);
  transform: scale(1.1);
}
.active {
  color: var(--button-hover);
}
.logoLink {
  font-family: "Inter", sans-serif;
  --black: #3e3e3e;
  --background: #f0f2f8;
  --blue: #007aff;
  --white: #fff;
}
