.header {
  width: 100%;
  height: 72px; /* Высота из макета */
  display: flex;
  align-items: center;
  background-color: var(--inputs);
  border-bottom: 1px solid var(--badges);
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding-right: 652px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigationItem,
.active {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}

.navigationItem {
  color: var(--main);
  transition: color 0.2s ease;
}

.navigationItem:hover {
  color: var(--button-hover);
}

.active {
  color: var(--button-hover);
}

.logoLink {
  display: flex;
  align-items: center;
}
