.container {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 24px;
  width: 100%;
  max-width: 641px;
  min-height: 588px;
}

@media (min-width: 1024px) {
  .container {
    padding: 44px 57px;
  }
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray);
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  width: 100%;
  height: 60px;
  border: none;
  padding: 18px;
  border-radius: 16px;
  background-color: var(--inputs);
  outline: none;
}

.textarea {
  width: 100%;
  height: 118px;
  border: none;
  padding: 18px;
  padding-bottom: 76px;
  border-radius: 10px;
  background-color: var(--inputs);
  resize: none;
  outline: none;
}

.textarea:not(:placeholder-shown) {
  background-color: var(--badges);
}

.error {
  color: var(--button-hover);
  font-size: 14px;
  margin-top: -10px;
}
