.container {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 44px 57px;
  width: 100%;
  width: 527px;
  height: 500px;
  justify-content: center;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  color: #101828;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray);
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  max-width: 100%;
  height: 24px;
  border: none;
  padding: 18px 0px;
  padding-left: 18px;
  border-radius: 16px;
  background-color: var(--inputs);
  outline: none;
}

.textarea {
  max-width: 100%;
  height: 24px;
  border: none;
  padding: 18px;
  padding-bottom: 76px;
  border-radius: 10px;
  background-color: var(--inputs);
  resize: none;
  outline: none;
}

.textarea:not(:placeholder-shown) {
  background-color: var(--badges);
}

.error {
  color: var(--button-hover);
  font-size: 14px;
  margin-top: -10px;
}
