.container {
  max-width: 631px;
  width: 100%;
}

.reviewsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.reviewerWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.reviewerAvatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--badges);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--button);
}

.reviewerName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 4px;
}

.stars {
  display: flex;
  gap: 4px;
}

.star {
  width: 16px;
  height: 16px;
  fill: var(--gray-light);
}

.star.filled {
  fill: var(--rating);
}

.comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}
