.sidebar {
  width: 360px; /* */
  display: flex;
  flex-direction: column;
}

.locationGroup {
  margin-bottom: 32px;
}

.label {
  display: block;
  color: rgba(16, 24, 40, 0.6);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.inputWrapper {
  position: relative;
}

.inputIcon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  fill: none;
  stroke: #101828;
  pointer-events: none;
}

.locationInput {
  width: 294px;
  padding: 18px 18px 18px 48px;
  background-color: #f7f7f7;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  color: #101828;
  outline: none;
}

.filtersTitle {
  color: #475467;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 14px;
}

.filterGroup {
  margin-bottom: 32px;
}

.groupTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 24px;
}

.divider {
  border: none;
  border-top: 1px solid rgba(16, 24, 40, 0.1);
  margin-bottom: 24px;
  width: 100%;
}

.checkboxList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  flex-basis: calc((100% - 20px) / 3);
}

.filterItem {
  cursor: pointer;
  display: block;
  width: 100%;
}

.hiddenInput {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.filterCard {
  width: 100%;
  height: 95px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s ease;
  text-align: center;
}

.filterCard span {
  font-weight: 500;
  font-size: 16px;
  color: #101828;
}

.filterCard svg {
  fill: #101828;
}

.filterCard:hover {
  border-color: #e44848;
}

.hiddenInput:checked + .filterCard {
  border: 1px solid #e44848;
}

.searchButton {
  margin-top: 32px;
  width: 173px;
  height: 56px;
  padding: 16px 32px;
  background-color: #e44848;
  color: white;
  border: none;
  border-radius: 200px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #d84343;
}
