.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding: 0;
  width: 100%;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.card {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  background-color: #ffffff;
  width: 840px;
}

.imageWrapper {
  position: relative;
  min-width: 292px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
}

.content {
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.name {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #101828;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  color: #101828;
}

.heartBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.heartIcon {
  fill: none;
  stroke: #101828;
  transition:
    stroke 0.3s,
    fill 0.3s;
}

.heartIcon:hover {
  stroke: #e44848;
}

.meta {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  font-size: 16px;
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.metaIcon {
  fill: none;
  stroke: #101828;
}

.description {
  color: #475467;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin-bottom: 24px;
}

.featureItem {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  background-color: #f2f4f7;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  color: #101828;
}

.featureItem svg {
  fill: #101828;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: underline;
}

.starIcon {
  fill: var(--rating, #ffc531);
  flex-shrink: 0;
}

.metaIcon {
  fill: none;
  stroke: #101828;
  flex-shrink: 0;
}
