:root {
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
  --font-family: "Inter", sans-serif;
}

body {
  background: var(--white);
  color: var(--main);
  font-family: var(--font-family);
}

.container {
  max-width: 1440px;
  padding: 0 64px;
}

a {
  color: inherit;
  text-decoration: none;
}
.layoutWrapper {
  display: flex;
  gap: 64px;
  padding-top: 48px;
  padding-bottom: 52px;
  padding-left: 64px;
  align-items: flex-start;
}

/* Контейнер для списка, чтобы он рос в ширину */
.listContainer {
  flex-grow: 1;
}

/* Ограничиваем ширину сайдбара, чтобы он не растягивался */
/* SidebarFilters должен иметь внутри себя width: 360px */
