.container {
  padding: 44px 52px;
  background-color: #f7f7f7;
  border-radius: 10px;
  width: 527px;
  height: 500px;
}

.featuresRow {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 44px;
  list-style: none;
  padding: 0;
}

.feature {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  background-color: #f2f4f7;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  text-transform: capitalize;
}

.featureIcon {
  width: 20px;
  height: 20px;
  fill: #101828;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 24px;
}

.separator {
  border: none;
  height: 1px;
  background-color: rgba(16, 24, 40, 0.1);
  margin-bottom: 24px;
}

.detailList {
  display: flex;
  flex-direction: column;
  gap: 14px;
  list-style: none;
  padding: 0;
}

.detailItem {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: #101828;
}

.detailValue {
  text-transform: capitalize;
}
.svg {
  width: 32px;
  height: 32px;
  fill: #475467;
  stroke: #475467;
  color: #475467;
}
