.container {
  max-width: 631px;
  padding: 44px 52px;
  background-color: var(--inputs);
  border-radius: 10px;
}

@media (min-width: 1024px) {
  .container {
    width: 631px;
    height: 588px;
    padding: 44px 52px;
  }
}

.featuresRow {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 90px;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .featuresRow {
    max-height: 104px;
  }
}

.featuresColumn {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.feature {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 100px;
  padding: 12px 18px;
  max-width: 143px;
  height: 48px;
  background-color: var(--badges);
  mix-blend-mode: multiply;
  display: flex;
  gap: 8px;
  align-items: center;
  text-transform: capitalize;
}

.featureIcon {
  width: 20px;
  height: 20px;
  stroke: var(--badges);
  fill: var(--main);
}

.iconRef {
  transform: scale(3);
  transform-origin: center;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--gray-light);
  margin: 24px 0;
}

.detailRow {
  display: flex;
  justify-content: space-between;
}

.detailText {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  color: inherit;
}

.detailList > * + * {
  margin-top: 16px;
}
