.wrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  height: 24px;
  border: none;
  padding: 18px 0px;
  padding-left: 18px;
  border-radius: 16px;
  background-color: var(--inputs);
  cursor: pointer;
  outline: none;
}

.input:not(:placeholder-shown) {
  background-color: var(--badges);
}

.input:focus {
  outline: none;
}

.calendarWrapper {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0.5rem;
  z-index: 1000;
  background-color: var(--white);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 0.75rem;
}
