.listContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.statusMessage {
  font-size: 18px;
  color: #101828;
  text-align: center;
  margin-top: 50px;
}

.noResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  background-color: #f7f7f7;
  border-radius: 20px;
  border: 1px dashed #dadde1;
  margin-top: 20px;
  text-align: center;
  margin: 0 auto;
  min-width: 800px;
}

.noResultsText {
  font-size: 20px;
  font-weight: 600;
  color: #101828;
  margin-bottom: 8px;
}

.noResultsSubtext {
  font-size: 16px;
  color: #6c717b;
}
.loadMoreBtn {
  padding: 16px 32px;
  background-color: transparent;
  border: 1px solid #dadde1;
  border-radius: 200px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.loadMoreBtn:not(:disabled):hover {
  border-color: #e44848;
}

.loadMoreBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
