.conteinerTabsBooking {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 44px;
}

.content {
  flex: 1;
}

.tabsNav {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid #dadde1;
  width: 100%;
}

.tab {
  background: none;
  border: none;
  padding: 0 0 24px 0;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  color: #101828;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #e44848; /* Червона лінія під активним табом */
}
