.name,
.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--main);
}

.meta {
  margin-top: 8px;
  display: flex;
  gap: 16px;
  font-size: 14px;
  color: #6b7280;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
}
.galleryList {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 28px 0;
  overflow-x: auto;
}

.galleryItem {
  flex-shrink: 0;
  width: 292px;
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
}
.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  margin-top: 16px;
}
.content {
  margin-top: 60px;
}
